<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html lang=en xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{judul}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="author" content="{author}">
<meta name="description" content="{description}">
<meta name="url" content="{url}">
<meta name="keywords" content="{keywords}">
<link href="{sumber}/inc/style/sisfokol.css" rel="stylesheet" type="text/css">
<link href="{sumber}/inc/style/dhtmlwindow.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{sumber}/inc/js/dhtmlwindow.js"></script>
<script type="text/javascript" src="{sumber}/inc/js/bubble-tooltip.js"></script>
<!--
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
/////// SISFOKOL_SMK_v3.0_(sawah_siring)_FREE       ///////
/////// (Sistem Informasi Sekolah untuk SMK)        ///////
///////////////////////////////////////////////////////////
/////// Dibuat oleh :                               ///////
/////// Agus Muhajir, S.Kom                         ///////
/////// URL 	: http://sisfokol.wordpress.com     ///////
/////// E-Mail	:                                   ///////
///////     * hajirodeon@yahoo.com                  ///////
///////     * hajirodeon@gmail.com                  ///////
/////// HP/SMS	: 081-829-88-54                     ///////
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
//-->


<script type="text/javascript">
function openmypage()
	{
	ajaxwin1=dhtmlwindow.open("ajaxbox", "ajax", "{sumber}/inc/ref/filosofi.php", "Filosofi", "width=650px,height=300px,left=300px,top=100px,resize=0,scrolling=1")
	}

function openmypage2()
	{
	ajaxwin2=dhtmlwindow.open("ajaxbox", "ajax", "{sumber}/inc/ref/donatur.php", "Daftar Donatur SISFOKOL (Sejak tahun 2005, sampai tahun 2010)", "width=650px,height=300px,left=300px,top=100px,resize=0,scrolling=1")
	}

function openmypage3()
	{
	ajaxwin3=dhtmlwindow.open("ajaxbox", "ajax", "{sumber}/inc/ref/faq.php", "F.A.Q", "width=650px,height=300px,left=300px,top=100px,resize=0,scrolling=1")
	}

function openmypage4()
	{
	ajaxwin4=dhtmlwindow.open("ajaxbox", "ajax", "{sumber}/inc/ref/pengembang.php", "Pengembang/Penulis/Programmer/Pencipta SISFOKOL", "width=650px,height=300px,left=300px,top=100px,resize=0,scrolling=1")
	}

function openmypage5()
	{
	ajaxwin5=dhtmlwindow.open("ajaxbox", "ajax", "{sumber}/inc/ref/distributor.php", "Distributor LinuxBIASAWAE", "width=650px,height=300px,left=300px,top=100px,resize=0,scrolling=1")
	}
</script>
</head>

<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" onLoad="{diload}">
<div id="bubble_tooltip">
	<div class="bubble_top"><span></span></div>
	<div class="bubble_middle"><span id="bubble_tooltip_content">SISFOKOL_SMK_v3.0_(cegunan)_...</span></div>
	<div class="bubble_bottom"></div>
</div>

<div align="left">
  <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="left" valign="top">
	  <div align="left">{isi}</div>
	  </td>
    </tr>
  </table>



IklanBaris BIASAWAE :
<br>
<iframe frameborder="0" width="900" src="http://iklan.omahbiasawae.com/iklanbaris.php" scrolling="no" name="frku" height="30"></iframe>

</div>
</body>
</html>